## **DS Lead Assesment Model**

In [ ]:
import pandas as pd 
import numpy as np 
import scipy as scp
import sklearn

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn import metrics 
from sklearn.metrics import confusion_matrix

In [ ]:
data = pd.read_csv('/content/drive/My Drive/DS_L Assessment Data.csv')
data.head()

   Age Sex      BP Cholesterol  sodium to potassium ratio   Drug
0   23   F    HIGH        HIGH                     25.355  DrugY
1   47   M     LOW        HIGH                     13.093  drugC
2   47   M     LOW        HIGH                     10.114  drugC
3   28   F  NORMAL        HIGH                      7.798  drugX
4   61   F     LOW        HIGH                     18.043  DrugY

In [ ]:
data['Drug'].value_counts()

DrugY    69
drugX    41
drugA    16
drugB    13
drugC    10
Name: Drug, dtype: int64

In [ ]:
Data_DrugA = data[data["Drug"] == 'drugA']
Data_DrugB = data[data["Drug"] == 'drugB']
Data_DrugC = data[data["Drug"] == 'drugC']

In [ ]:
new_data = pd.concat((Data_DrugA, Data_DrugB,Data_DrugC)).reset_index(drop=True)

In [ ]:
new_data['Drug'].value_counts()

drugA    16
drugB    13
drugC    10
Name: Drug, dtype: int64

In [ ]:
new_data.head()

   Age Sex    BP Cholesterol  sodium to potassium ratio   Drug
0   43   M  HIGH        HIGH                     13.972  drugA
1   32   M  HIGH      NORMAL                      9.445  drugA
2   37   F  HIGH        HIGH                     13.091  drugA
3   24   M  HIGH      NORMAL                      9.475  drugA
4   29   M  HIGH        HIGH                     12.856  drugA

In [ ]:
new_data['sodium to potassium ratio']

In [ ]:
new_data["age_Cat"] = pd.qcut(new_data["Age"].rank(method='first'),5,labels=False)
new_data["sodium_Cat"] = pd.qcut(new_data['sodium to potassium ratio'].rank(method='first'),5,labels=False)

In [ ]:
new_data.head()

   Age Sex    BP  ...   Drug  age_Cat sodium_Cat
0   43   M  HIGH  ...  drugA        2          4
1   32   M  HIGH  ...  drugA        1          0
2   37   F  HIGH  ...  drugA        1          3
3   24   M  HIGH  ...  drugA        0          0
4   29   M  HIGH  ...  drugA        0          3

[5 rows x 8 columns]

In [ ]:
new_data['Sex'].value_counts()

M    21
F    18
Name: Sex, dtype: int64

In [ ]:
def Sex_Classification(CLASS):
    if CLASS == 'M':
        return 1
    elif CLASS == 'F':
        return 2

In [ ]:
new_data['sex_CLASS']=new_data['Sex'].apply(Sex_Classification)

In [ ]:
new_data['BP'].value_counts()

HIGH    29
LOW     10
Name: BP, dtype: int64

In [ ]:
def BP_Classification(CLASS):
    if CLASS == 'HIGH':
        return 1
    elif CLASS == 'LOW':
        return 2

In [ ]:
new_data['BP_CLASS']=new_data['BP'].apply(BP_Classification)

In [ ]:
new_data['Cholesterol'].value_counts()

HIGH      25
NORMAL    14
Name: Cholesterol, dtype: int64

In [ ]:
def CH_Classification(CLASS):
    if CLASS == 'HIGH':
        return 1
    elif CLASS == 'NORMAL':
        return 2

In [ ]:
new_data['Cholesterol_CLASS']=new_data['Cholesterol'].apply(CH_Classification)

In [ ]:
new_data.head()

   Age Sex    BP Cholesterol  ...  sec_CLASS sex_CLASS  BP_CLASS  Cholesterol_CLASS
0   43   M  HIGH        HIGH  ...          1         1         1                  1
1   32   M  HIGH      NORMAL  ...          1         1         1                  2
2   37   F  HIGH        HIGH  ...          2         2         1                  1
3   24   M  HIGH      NORMAL  ...          1         1         1                  2
4   29   M  HIGH        HIGH  ...          1         1         1                  1

[5 rows x 12 columns]

In [ ]:
X = new_data.drop(['Sex', 'BP','Cholesterol', 'sec_CLASS', 'Drug'], axis=1)

In [ ]:
X.head()

   Age  sodium to potassium ratio  ...  BP_CLASS  Cholesterol_CLASS
0   43                     13.972  ...         1                  1
1   32                      9.445  ...         1                  2
2   37                     13.091  ...         1                  1
3   24                      9.475  ...         1                  2
4   29                     12.856  ...         1                  1

[5 rows x 7 columns]

In [ ]:
Y = new_data['Drug']

In [ ]:
X_train, X_test, y_train, y_test = sklearn.model_selection.train_test_split(X, Y, test_size = 0.40, random_state = 10)

### **Logistics Regression Model**

In [ ]:
model1 = LogisticRegression(random_state=0, multi_class='multinomial', penalty='none', solver='newton-cg').fit(X_train, y_train)
preds = model1.predict(X_test)

In [ ]:
preds

array(['drugC', 'drugC', 'drugA', 'drugA', 'drugA', 'drugA', 'drugC',
       'drugA', 'drugB', 'drugB', 'drugA', 'drugA', 'drugB', 'drugB',
       'drugA', 'drugA'], dtype=object)

In [ ]:
print('Intercept: \n', model1.intercept_)
print('Coefficients: \n', model1.coef_)

Intercept:
 [ 35.44825461 -34.39273242  -1.05552218]
Coefficients:
 [[ 2.09433565e-01 -1.25220414e+00 -8.22083882e+00  1.54326339e+00
  -5.11932676e+00  4.89389111e+00 -4.30985490e+00]
 [ 2.40067815e-02  1.01098687e+00  1.24980195e+01 -8.65023633e-01
   9.22815583e+00 -3.51512393e+01  1.19809265e+01]
 [-2.33440362e-01  2.41217266e-01 -4.27718070e+00 -6.78239753e-01
  -4.10882906e+00  3.02573482e+01 -7.67107164e+00]]

In [ ]:
confmtrx = np.array(confusion_matrix(y_test, preds))

In [ ]:
confmtrx

array([[8, 1, 0],
       [1, 3, 0],
       [0, 0, 3]])

In [ ]:
pd.DataFrame(confmtrx, index=['DrugA','DrugB', 'DrugC'],
columns=['predicted_DrugA', 'predicted_DrugB', 'predicted_DrugC'])

       predicted_DrugA  predicted_DrugB  predicted_DrugC
DrugA                8                1                0
DrugB                1                3                0
DrugC                0                0                3

In [ ]:
class_report=classification_report(y_test, preds)
print(class_report)

              precision    recall  f1-score   support

       drugA       0.89      0.89      0.89         9
       drugB       0.75      0.75      0.75         4
       drugC       1.00      1.00      1.00         3

    accuracy                           0.88        16
   macro avg       0.88      0.88      0.88        16
weighted avg       0.88      0.88      0.88        16

## **Catboost Classification Model**

In [ ]:
!pip install catboost

In [ ]:
from catboost import Pool, CatBoostClassifier, cv

In [ ]:
cate_features_ind = np.where(X.dtypes != float)[0]

In [ ]:
model = CatBoostClassifier(iterations=100, depth=15,cat_features=cate_features_ind, learning_rate=0.01,eval_metric='Accuracy',use_best_model=True, random_seed=50)

In [ ]:
model.fit(X_train,y_train,eval_set=(X_test,y_test))

In [ ]:
cat_pred = model.predict(X_test)

In [ ]:
cat_pred

In [ ]:
cat_confmtrx = np.array(confusion_matrix(y_test, cat_pred))

In [ ]:
pd.DataFrame(cat_confmtrx, index=['DrugA','DrugB', 'DrugC'],
columns=['predicted_DrugA', 'predicted_DrugB', 'predicted_DrugC'])

       predicted_DrugA  predicted_DrugB  predicted_DrugC
DrugA                6                3                0
DrugB                0                4                0
DrugC                0                0                3

In [ ]:
class_report=classification_report(y_test, cat_pred)
print(class_report)

              precision    recall  f1-score   support

       drugA       1.00      0.67      0.80         9
       drugB       0.57      1.00      0.73         4
       drugC       1.00      1.00      1.00         3

    accuracy                           0.81        16
   macro avg       0.86      0.89      0.84        16
weighted avg       0.89      0.81      0.82        16

## **XGBoost Classification Model**

In [ ]:
import xgboost as xgb
from sklearn.metrics import mean_squared_error

In [ ]:
from numpy import loadtxt
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import pandas as pd

In [ ]:

def Y_Classification(CLASS):
    if CLASS == 'drugA':
        return 1
    elif CLASS == 'drugB':
        return 2
    elif CLASS == 'drugC':
        return 3

In [ ]:
Y_new=Y.apply(Y_Classification)

In [ ]:
data_dmatrix = xgb.DMatrix(data=X,label=Y_new)

In [ ]:
model = XGBClassifier()
model.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='multi:softprob', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [ ]:
xg_pred = model.predict(X_test)

In [ ]:
xg_pred

array(['drugC', 'drugC', 'drugA', 'drugA', 'drugA', 'drugA', 'drugC',
       'drugA', 'drugA', 'drugB', 'drugA', 'drugA', 'drugB', 'drugB',
       'drugB', 'drugA'], dtype=object)

In [ ]:
xg_confmtrx = np.array(confusion_matrix(y_test, xg_pred))

In [ ]:
pd.DataFrame(xg_confmtrx, index=['DrugA','DrugB', 'DrugC'],
columns=['predicted_DrugA', 'predicted_DrugB', 'predicted_DrugC'])

       predicted_DrugA  predicted_DrugB  predicted_DrugC
DrugA                9                0                0
DrugB                0                4                0
DrugC                0                0                3

In [ ]:
class_report=classification_report(y_test, xg_pred)
print(class_report)

              precision    recall  f1-score   support

       drugA       1.00      1.00      1.00         9
       drugB       1.00      1.00      1.00         4
       drugC       1.00      1.00      1.00         3

    accuracy                           1.00        16
   macro avg       1.00      1.00      1.00        16
weighted avg       1.00      1.00      1.00        16

## Deploying XGBoost Classification Model

In [ ]:
xg_predX = model.predict(X)

In [ ]:
xg_predX

array(['drugA', 'drugA', 'drugA', 'drugA', 'drugA', 'drugA', 'drugA',
       'drugA', 'drugA', 'drugA', 'drugA', 'drugA', 'drugA', 'drugA',
       'drugA', 'drugA', 'drugB', 'drugB', 'drugB', 'drugB', 'drugB',
       'drugB', 'drugB', 'drugB', 'drugB', 'drugB', 'drugB', 'drugB',
       'drugB', 'drugC', 'drugC', 'drugC', 'drugC', 'drugC', 'drugC',
       'drugC', 'drugC', 'drugC', 'drugC'], dtype=object)

In [ ]:
X['Pred_Target'] = xg_predX

In [ ]:
new_data['Pred_Drug'] = xg_predX

In [ ]:
new_data.head()

   Age Sex    BP Cholesterol  ...  sex_CLASS BP_CLASS  Cholesterol_CLASS  Pred_Drug
0   43   M  HIGH        HIGH  ...          1        1                  1      drugA
1   32   M  HIGH      NORMAL  ...          1        1                  2      drugA
2   37   F  HIGH        HIGH  ...          2        1                  1      drugA
3   24   M  HIGH      NORMAL  ...          1        1                  2      drugA
4   29   M  HIGH        HIGH  ...          1        1                  1      drugA

[5 rows x 13 columns]

In [ ]:
Result = new_data.drop(['age_Cat', 'sodium_Cat','sec_CLASS', 'sex_CLASS', 'BP_CLASS', 'Cholesterol_CLASS'], axis=1)

In [ ]:
Result.to_csv('/content/drive/My Drive/DS_Lead.csv',index=False)